@import "tailwindcss";


.playwrite {
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}